body { direction: rtl; 
    background-image: linear-gradient(to right, #2a791f8c, #8faa86b6);
}
p{
    font-size: 20px;
    color: rgb(68, 68, 68);
    padding: 10px 60px;
    text-align: justify;
    line-height: 40px;
}
img{
    padding: 10px 30px;
}
h2{
    padding: 0px 20px;
}