.backgroundindex {
    position: relative;
    display: flex;
    background: #fff;

}

.marginBox {
    margin: 50px 0px;
}
.header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}

.version{
    width: 35%;
    padding-top: 13px;
}

.versions{
    padding: 8px;  
    width: 110px;
    color: rgb(36, 90, 90);
    border: 2px solid #3aa3a7;
    background-color: #fff;
}
:focus-visible {
    outline: #3aa3a7 auto 1px;
}
h1 {
    color: rgb(36, 90, 90);
    text-align: center;
    /* margin-top: 50px; */
}

h3 {
    color: rgb(36, 90, 90);
    margin: 0px 0px 20px 0px;
}

.hr {
    width: 100%;
    opacity: 1 !important;
    height: 1.9px;
    background: linear-gradient(to right, rgba(36, 90, 90, 0.027) 0%, hsl(182, 48%, 44%) 50%, rgba(36, 90, 90, 0.027) 100%);
    border: none;
    margin-top: 20px;
}

.RAM {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 70px 0px 50px 0px; */
}

.store {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* margin-top: 20px; */
}

.box {
    margin: 50px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.flexBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.AssembleArea{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.lableAssembly{
    display: flex;
    flex-direction: column;
}
.lableAssembly label{
    margin-bottom: 15px;
}
.Instruction {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.Instruction table {
    margin-left: 15px;
}

.InstructionTableReg td {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
    padding: 1px 10px;
}

.Instruction th {
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}

.box-RAM {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    width: 700px;

}

.block {
    width: 70px;
    height: 30px;

}

.btn {
    border: 1px solid rgb(36, 90, 90);
    background-color: rgb(255, 255, 255);
    padding: 8px 8px;
    color: rgb(36, 90, 90);
    transition: .3s;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 120px;
}

.special{
    background-color: #3aa3a7;
    color: #fff;
}
.btn:hover {
    transition: .3s;
    background-color: rgb(36, 90, 90);
    color: #fff;
}
.special:hover {
    background-color: #ffffff;
    color: rgb(36, 90, 90);
}

.listData {
    list-style-type: none;
    margin-bottom: 10px;
    color: rgb(36, 90, 90);
    cursor: pointer;
}

input[type=file] {
    color: rgb(36, 90, 90);
    margin: 15px 0px;
}

input[type=file]::file-selector-button {
    border: 1px solid rgb(36, 90, 90);
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #ffffff;
    transition: .3s;
    color: rgb(36, 90, 90);
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: rgb(36, 90, 90);
    color: #fff;
}

.flexStyle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
}

.inputTag {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* padding: 30px 0px; */
}

.clickTextarea {
    display: flex;
    flex-direction: column;
}

.area {
    display: flex;
    flex-direction: column;
}

.area label {
    margin-bottom: 10px;
}

.inputTag button {
    margin-left: 15px;
}

.inputJs {
    display: none;
}

.data {
    color: #727272;
}

.firstInput {
    visibility: hidden;
    margin-top: 20px;
}

.inputToMem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: ; */
}

#list {
    height: 130px;
    overflow-y: scroll;
}














/* page decode  */

.decode {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* margin-top: 100px; */
}

table {

    /* display: block; */
    color: #333333;
    background-color: rgb(223, 223, 223);
}

.ramtable table {
    display: block;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    height: 70vh;
}

.ramtable td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}

.sticky {
    top: 0;
    position: sticky;
    background-color: #3aa3a7;
    color: black;
}

.center {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3aa3a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3aa3a7;
}

.border {
    border: 2px solid red !important;
}

.registerTable td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}
#back{
    margin: 20px;
}
.logexecute{
    display: flex;
    flex-direction: column;
}
.flagTable{
margin-top: 50px;
}
.flagTable td {
    align-items: center;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}
.itemsStyle {
    width: 220px;
}
#HLT{
    display: none;
}
.shutDown {
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    display: block !important;
}
.textHLT{
    color: #fff;
    font-size: 50px;
    /* -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}
/* @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  } */
  



.boxLog {
    width: 170px;
    border: 1px solid #3aa3a7;
    height: 70vh;
    overflow-y: auto;
}
#log{
    width: 100%;
}
#log th {
    /* width: 112px; */
    padding: 8px;
    background-color: #3aa3a7;
    border: 1px solid #3aa3a7;
}

#log td {
    padding: 8px;

    text-align: center;
}
.ledBox {
    /* border:1px solid #3aa3a7; */
    background-color: rgb(223, 223, 223);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.ledBox h3{
    margin: 0px 10px 0px 0px;
}
.circle {
    height: 25px;
    width: 25px;
    border:1px solid #3aa3a7;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
.led{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.led h1{
    margin: 20px 0px;
}
.StartCPU {
    display: none;
}
.space{
    background-color: #fff;
    height: 20px;
}