.backgroundindex {
    position: relative;
    display: flex;
    background: #fff;

}

.marginBox {
    margin: 50px 0px;
}

h1 {
    color: rgb(36, 90, 90);
    text-align: center;
    /* margin-top: 50px; */
}

h3 {
    color: rgb(36, 90, 90);

    margin: 40px 0px 20px 0px;
}

.hr {
    opacity: 1 !important;
    height: 3px;
    background: linear-gradient(to right, rgba(36, 90, 90, 0.055) 0%, rgb(36, 90, 90)50%, rgba(36, 90, 90, 0.062) 100%);
    border: none;
    margin-top: 20px;
}

.RAM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 70px 0px 50px 0px; */
}

.store {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.box {
    margin: 50px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Instruction {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Instruction table {
    margin-left: 15px;
}

.InstructionTableReg td {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
    padding: 1px 10px;
}

.Instruction th {
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}

.box-RAM {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    width: 700px;

}

.block {
    width: 70px;
    height: 30px;

}

.btn {
    border: 1px solid rgb(36, 90, 90);
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    color: rgb(36, 90, 90);
    transition: .3s;
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover {
    transition: .3s;
    background-color: rgb(36, 90, 90);
    color: #fff;
}

.listData {
    list-style-type: none;
    margin-bottom: 10px;
    color: rgb(36, 90, 90);
    cursor: pointer;
}

input[type=file] {
    color: rgb(36, 90, 90);
    margin: 15px 0px;
}

input[type=file]::file-selector-button {
    border: 1px solid rgb(36, 90, 90);
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #ffffff;
    transition: .3s;
    color: rgb(36, 90, 90);
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: rgb(36, 90, 90);
    color: #fff;
}

.flexStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.inputTag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.area {
    display: flex;
    flex-direction: column;
}

.area label {
    margin-bottom: 10px;
}

.inputTag button {
    margin-left: 15px;
}

.inputJs {
    display: none;
}



/* page decode  */

.decode {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* margin-top: 100px; */
}

table {

    /* display: block; */
    color: #333333;
    background-color: #d1d1d1;
}

.ramtable table {
    display: block;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    height: 70vh;
}

.ramtable td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}

.sticky {
    top: 0;
    position: sticky;
    background-color: #3aa3a7;
    color: black;
}

.center {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3aa3a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3aa3a7;
}

.border {
    border: 2px solid red !important;
}

.registerTable td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #3aa3a7;
}

.HLT {
    background-color: #333333;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}


.ledBox{
    background-color: #3aa3a7;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.circle {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
.boxLog{
    /* width: ; */
    border: 1px solid #3aa3a7;
    height: 70vh;
    overflow-y: auto;
}
#log th{
        padding: 8px;
        background-color:#3aa3a7;
        border:1px solid #3aa3a7;
}
#log td{
    padding: 8px;
    
    text-align: center;
}